@import url(https://fonts.googleapis.com/css2?family=REM:wght@100;200;400;500;600;700;800&display=swap);

/* Root (By-default it is light) */
:root {
  --ff-default: REM, sans-serif;

  --bg-image: url("https://images.unsplash.com/photo-1533812451773-f2b04c2bdeb2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  --clr-gradient-background: #0093e9;
  --clr-gradient: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);

  --clr-glass-bg: rgba(255, 255, 255, 0.15);
  --clr-glass-bs: rgba(31, 38, 135, 0.37);

  --clr-glass-bg-1: rgba(255, 255, 255, 0.55);
  --clr-glass-bs-2: rgba(31, 38, 135, 0.5);

  --clr-input-background: #faf9f6;
  --clr-input-text: #202020;

  --filter-img: invert(0%) sepia(0%) saturate(658%) hue-rotate(153deg)
    brightness(113%) contrast(75%);
}
.dark-theme {
  --bg-image: url("https://images.unsplash.com/photo-1516469679150-4fdd1f114f97?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  --clr-gradient-background: transparent;
  --clr-gradient: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );

  --clr-glass-bg: rgba(0, 0, 0, 0.4);
  --clr-glass-bs: rgba(0, 0, 0, 0.42);

  --clr-glass-bg-1: rgba(0, 0, 0, 0.6);
  --clr-glass-bs-2: rgba(0, 0, 0, 0.6);

  --clr-input-background: #202020;
  --clr-input-text: #faf9f6;

  --filter-img: invert(100%) sepia(96%) saturate(287%) hue-rotate(294deg)
    brightness(105%) contrast(96%);
}

/* Update according to user preference (will not be using this) */
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --bg-image: url("https://images.unsplash.com/photo-1516469679150-4fdd1f114f97?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    --clr-gradient-background: transparent;
    --clr-gradient: linear-gradient(
      112.1deg,
      rgb(32, 38, 57) 11.4%,
      rgb(63, 76, 119) 70.2%
    );

    --clr-glass-bg: rgba(0, 0, 0, 0.4);
    --clr-glass-bs: rgba(59, 59, 66, 0.37);
  }
} 
*/

/* Josh's Custom CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  transition: all 0.2s linear;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

body,
#root,
main {
  min-height: 100vh;
}

li,
ul,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: var(--ff-default);
  backdrop-filter: blur(3px);
}

main {
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-inline: auto;
  max-width: 82rem;

  @media (min-width: 600px) {
    gap: 2em;
  }
}

.back-to-top {
  position: sticky;
  bottom: 1em;
  left: 100%;

  padding: 1em 1em;
  margin-left: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  background: var(--clr-glass-bg-1);
  box-shadow: 0 8px 32px 0 var(--clr-glass-bs-2);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 50vh;

  .material-symbols-rounded {
    scale: 1.2;
    color: var(--clr-input-text);
  }

  ::before {
    content: "";
    max-width: 0;
  }
}

.back-to-top:hover {
  padding: 1em 2em;
  ::before {
    content: "Back To Top";
    vertical-align: super;

    font-family: var(--ff-default);
    font-size: 1rem;
    margin-right: 0.5em;
  }
}
